name: Code quality

on:
  push:
  pull_request:

jobs:
  quality:
    # Don't trigger the action on PRs from the same repo unless it's from dependabot.
    # This prevents the same action from triggering twice, by push and pull_request events.
    # https://github.com/orgs/community/discussions/26940#discussioncomment-6656489
    if: (github.event_name != 'pull_request' && ! github.event.pull_request.head.repo.fork) || (github.event_name == 'pull_request' && (github.event.pull_request.head.repo.fork || github.actor == 'dependabot[bot]'))
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.2.4
      - name: Run Biome
        run: biome ci .